.section-1{
    width: 1517px;
    height: 200px;
    background-image: url("../images/jpg/location.bg.jpg");
    padding: 30px 155px;

    &__title{
        color: #fff;
        font-weight: 700;
font-size: 56px;
line-height: 56px;
    }
}