.section-2{
    display: flex;
    align-items: center;
    margin-top: 100px;
    
    

    &__text-box{
        padding-right: 200px;
        margin-top: 250px;
    }

    &__title{
        color: #495567;
        font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    width: 340px;
    padding-bottom: 40px;
    }

    &__text{
        color: #939CAA;
        font-weight: 400;
font-size: 15px;
line-height: 25px;
width: 445px;
padding-bottom: 30px;
    }


    &__img{
        border-radius: 50%;
        margin-top: 350px;
    }

    
}